
*~
*.aab
# Android SDK
*.ap_
*.apk
# APK files
build/
*.class
# Codespace specific
crashlytics-build.properties
# Crash reports
# DeepLoader .gitignore
.devcontainer/.env
.DS_Store
.externalNativeBuild/
.gradle/
# Gradle
!gradle/wrapper/gradle-wrapper.jar
# IDE
.idea/
*.iml
*.ipr
*.iws
.jdk/
*.jks
*.keystore
# Kotlin
local.properties
*.log
# Logs
# Native
\n.jdk/
obj/
# OS
release.properties
# Signing
*.so
*.swp
# Test
Thumbs.db
